@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-family: system-ui;
}
#two{
   position: absolute;
   top: 200px;
   left: 650px;
   width: 400px;
   padding: 10px;
   background: gray;
}
#three{
   position: absolute;
   top: 310px;
   left: 17px;
   width: 400px;
   padding: 10px;
   background: gray;
}
#four{
      position: absolute;
      top: 310px;
      left: 650px;
      padding: 10px;
      width: 400px;
      background: gray;
}
.stc{
   width: 100%;
   position: relative;
}
@media(max-width : 1024px)
{
   /* #two{
      position: absolute;
      top: 290px;
      left: 17px;
      padding: 10px;
      width: 400px;
   }
   #three{
      position: absolute;
      top: 380px;
      left: 17px;
      padding: 10px;
      width: 400px;
   }
   #four{
      position: absolute;
      top: 470px;
      left: 17px;
      padding: 10px;
      width: 400px;
   } */
}
.parent{
   background: #8080808e;
   height: 540px;
   width: 98%;
   margin: auto;
   margin-top: 2px;
}
/* nav{
  display: flex;
  justify-content: center;
  gap: 30px;
  background: #05cfcf;
  padding: 5px;
  width: 95%;
  margin: 15px;
  border-radius: 25px;
}
:link{
  padding: 5px;
  border-radius: 20px;
}
:any-link:hover{
    color: #2745f0;
    text-decoration: underline;
    text-underline-offset: 8px;
}
h1{
   position: absolute;
   top: 80px;
   color: #fff;
}
#link{
   position: absolute;
   top: 90px;
} */